<!-- This config file is a currently undocumented feature of nuget. Refer to http://nuget.codeplex.com/workitem/215 for details -->
<settings>
	<repositoryPath>packages</repositoryPath>
	<packageSources>
		<add key="Local Nuget Repository" value="NugetRepository" />
	</packageSources>
	<disabledPackageSources>
		<add key="nuget.org" value="nuget.org" />
		<add key="Microsoft and .Net" value="Microsoft and .Net" />
	</disabledPackageSources>
	<activePackageSource>
		<add key="Local Nuget Repository" value="Local Nuget Repository" />
	</activePackageSource>
	
</settings> 